* { box-sizing: border-box; }
html { overflow-y: scroll; }
body { 
  font-family: sans-serif;
  /* display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0; */
 }

/* .container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
} */

.grid {
  background: #c2c2c2;
  margin: 0 auto;
  border-radius: 15px;
  /* padding: 20px; */
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: calc((100% - 20px) / 2);
  float: left;
}

.grid-item {
  /* margin: 20px; */
  /* padding: 20px 20px; */
  overflow: hidden;
}

.grid-item img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 15px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .grid-sizer,
  .grid-item {
    width: calc((100% - 60px) / 4);
  }
}
