* {
  box-sizing: border-box;
}

/* force scrollbar */
html {
  overflow-y: scroll;
}

body {
  font-family: sans-serif;
}

/* ---- grid ---- */

.grid {
  background: #c2c2c2;
  margin: 0 10px;
}

/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
  width: calc((100% - 20px) / 3);
  /* 3 columns with 2 gutters between */
}

.grid-item--width2 {
  width: calc((100% - 20px) / 3 * 2 + 10px);
  /* Exactly 2 columns + 1 gutter */
}

@media screen and (min-width: 768px) {

  .grid-sizer,
  .grid-item {
    width: calc((100% - 40px) / 5);
    /* 5 columns with 4 gutters between */
  }

  .grid-item--width2 {
    width: calc((100% - 40px) / 5 * 2 + 10px);
    /* Exactly 2 columns + 1 gutter */
  }
}

.grid-item {
  float: left;
  margin-bottom: 10px;
  /* aspect-ratio: 3/4; */
  /* or 4/3, 1/1, etc. depending on your preferred look */
  overflow: hidden;
}

.grid-item img {
  display: block;
  width: 100%;
  height: auto; /* Let height adjust automatically */
  max-width: 100%;
  /* object-fit: cover; */
  /* This will crop the image while maintaining its aspect ratio */
}

.grid-item--width2 img {
  width: 100%;
  height: auto;
}
